@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
@include tablet{
  gap: 2rem;
}

  &__outer-cont{
    border-radius: 5px; /* Rounded corners for a softer look */
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2),
                inset -1px -1px 5px rgba(255, 255, 255, 0.7);
  }

  &__header {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: YesevaOne;
    @include tablet{
      font-size: 2rem;
    }
    @include desktop{
      font-size: 2.25rem;
    }
  }
  &__cont {
    width: 40vw;
    display: flex;
    border: 10px solid rgba($color: #000000, $alpha: 0.05);
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.2),
     -1px -1px 5px rgba(255, 255, 255, 0.7);
     @include tablet{
      width: 25vw;
      font-size: 1.25rem ;
     }
     @include desktop{
      width: 20vw;
     }
  }
  &__image {
    width: 100%;
  }
  &__name {
    text-align: center;
    background-color: #000000;
    color: white;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.25rem 0 0.5rem 0;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    // font-family: JosefinSans;
  }
}
