@font-face {
    font-family: "JosefinSans";
    src: url("../../assets/font/JosefinSans-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  /* Demi */
  @font-face {
    font-family: "JosefinSans";
    src: url("../../assets/font/JosefinSans-Medium.ttf") format("truetype");
    font-weight: 600;
  }
  
  /* Bold */
  @font-face {
    font-family: "JosefinSans";
    src:  url("../../assets/font/JosefinSans-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "YesevaOne";
    src: url("../../assets/font/YesevaOne-Regular.ttf") format("truetype");
    font-weight: 400;
  }