@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


.packs-info__para{
    text-align: center;
@include tablet{
width: 90%;
margin: auto;
font-size: 1.5rem;

}
}